body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #4d5ae5;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul a {
    font-size: 16px;
    font-weight: 500;
    color: #434455;
}

address ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

section:first-of-type {
    background-color: #2e2f42;
    color: #ffffff;
    text-align: center;
    padding: 188px 0;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

button {
    font-size: 16px;
    font-weight: 500;
    background-color: #4d5ae5;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section{
    text-align: center;
    padding: 120px 0;
}

section ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.portfolio {
    text-align: center;
    padding: 120px 0;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none;
}

footer {
    background-color: #2e2f42;
    color: white;
    padding: 100px 0;
}

footer a{
    text-transform: uppercase;
     letter-spacing: 0.03em;
     line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
}

footer .studio{
    color: #f4f4fd;
}

footer .parag{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}